html {
    background-color: #1b1134;
    color: coral;
}

.image {
    width: 300px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 20px;
  }
  
  .child {
    display: flex;
    flex: 1 0 20px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      border-radius: 40px;
      border-color: aqua;
      border-width: 5px;
      border-style: groove;
      margin: 50px 45px 40px 30px;
  }